.mitch-d3-tree {
	&.boxed-tree {
		&.default {
			.link {
				fill: none;
				stroke: #ffffff;
				stroke-width: 3px;
			}
	
			.node {

				&.expanded .body-group .body-box {
					fill: #991d85;
					stroke-width: 0;
				}

				&.expanded .body-group .body-box-circle {
					fill: #ffffff;
				}

				&.expanded .body-group .body-circle-text {
					fill: #991d85;
				}

				&.expanded .body-group .d3plus-textBox text {
					fill: #ffffff;
				}

				&.selected .body-group .body-box {
					fill: #991d85;
					stroke-width: 0;
				}

				&.selected .body-group .body-box-circle {
					fill: #ffffff;
				}

				&.selected .body-group .body-circle-text {
					fill: #991d85;
				}

				&.selected .body-group .d3plus-textBox text {
					fill: #ffffff;
				}
	
				.body-group .body-box {
					fill: white;
					rx: 0;
					ry: 0;
				}

				.body-group .body-box-circle {
					fill: #008c95;
				}

				.body-group .body-circle-text {
					fill: #ffffff;
				}
				
			}
		}
	}
}